* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-full {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  width: 100%;
  height: 100vh;
  background-color: #333;
}


.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container .spinBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #d4d4d2;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #2a292e;
  letter-spacing: 0.05em;
  border: 3px solid #faf9f2;
  cursor: pointer;
  user-select: none;
}

.container .spinBtn::before {
  content: "";
  position: absolute;
  top: -25px;
  width: 20px;
  height: 30px;
  background-color: #d4d4d2; 
  clip-path: polygon(50% 20%, -20% 100%, 120% 100%);
}

.container .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 3px #333, 0 0 0 6px #757369, 0 0 0 15px #a8a29b, 0 0 0 17px #757369;
  transition: transform 5s ease-in-out;
}

.container .wheel .section {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(45deg * var(--i)));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.container .wheel .section i{
  position: relative;
  transform: rotate(-45deg);
  font-size: 4em;
  font-weight: 700;
  color: #fff;
}

.container .wheel .section i::after {
  position: absolute;
  font-size: 0.75em;
  font-weight: 500;
}

/* PREGUNTA */
.question-container {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #3c444c; /* Fondo blanco para el área de la pregunta */
}

.question-title {
  font-size: 44px;
  font-weight: bold;
  color: white; /* Asegura que el texto sea visible sobre colores oscuros */
  border-radius: 8px 8px 0 0; /* Solo redondea esquinas superiores */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.question-title .title-text {
  flex-grow: 1;
  text-align: center;
}

.question-body {
  padding: 20px;
}

.question-title span {
  font-weight: bolder;
}

.pregunta {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  background-size: cover; /* La imagen de fondo se ajustará para cubrir completamente el contenedor */
  background-position: center; /* Centra la imagen de fondo horizontal y verticalmente */
}



.question-text {
  padding: 20px;
  color: #666;
  font-size: 18px;
  border-radius: 0 0 8px 8px; /* Redondea esquinas inferiores */
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* BOTONES */
.btn-normal {
  font-weight: 600;
  width: 100%;
  position: relative;
  color: #2a292e;
  text-decoration: none;
  background-color: white; /* De celeste claro a un azul más oscuro */
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  gap: 10px; /* Espacio entre el icono y el texto */
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 0px  #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 6px 0px #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  box-shadow: 0px 6px 0px #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  margin: 20px auto;
  text-align: center;
  border: none;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-normal:active {
  -webkit-box-shadow: 0px 3px 0px #bcbcbe, 0px 3px 6px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 3px 0px #bcbcbe, 0px 3px 6px rgba(0, 0, 0, .2);
  box-shadow: 0px 3px 0px #bcbcbe, 0px 3px 6px rgba(0, 0, 0, .2);
  position: relative;
  top: 6px;
}

.btn-correcto {
  font-weight: 600;
  width: 100%;
  position: relative;
  color: #2a292e;
  text-decoration: none;
  background-color: #76c140 !important; /* De celeste claro a un azul más oscuro */
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  gap: 10px; /* Espacio entre el icono y el texto */
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 0px  #689a43, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  -moz-box-shadow: 0px 6px 0px #689a43, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  box-shadow: 0px 6px 0px #689a43, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  margin: 20px auto;
  text-align: center;
  border: none;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-correcto:active {
  -webkit-box-shadow: 0px 3px 0px #689a43, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  -moz-box-shadow: 0px 3px 0px #689a43, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0px 3px 0px #689a43, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  position: relative;
  top: 6px;
}


.btn-error {
  font-weight: 600;
  width: 100%;
  position: relative;
  color: #2a292e;
  text-decoration: none;
  background-color: #ea1b29 !important; /* De celeste claro a un azul más oscuro */
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  gap: 10px; /* Espacio entre el icono y el texto */
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 0px  #a33434, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  -moz-box-shadow: 0px 6px 0px #a33434, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  box-shadow: 0px 6px 0px #a33434, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  margin: 20px auto;
  text-align: center;
  border: none;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-error:active {
  -webkit-box-shadow: 0px 3px 0px #a33434, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  -moz-box-shadow: 0px 3px 0px #a33434, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0px 3px 0px #a33434, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  position: relative;
  top: 6px;
}

.btn-summary {
  font-weight: 700;
  width: 100%;
  position: relative;
  color: white;
  text-decoration: none;
  background-color: #20bca7 !important; /* De celeste claro a un azul más oscuro */
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  gap: 10px; /* Espacio entre el icono y el texto */
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 0px  #17968a, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  -moz-box-shadow: 0px 6px 0px #17968a, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  box-shadow: 0px 6px 0px #17968a, 0px 9px 25px rgba(0, 0, 0, .3) !important;
  margin: 20px auto;
  text-align: center;
  border: none;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-summary:active {
  -webkit-box-shadow: 0px 3px 0px #17968a, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  -moz-box-shadow: 0px 3px 0px #17968a, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  box-shadow: 0px 3px 0px #17968a, 0px 3px 6px rgba(0, 0, 0, .2) !important;
  position: relative;
  top: 6px;
}

.datos-fin-partida {
  color: white; /* Asegura que el texto sea visible sobre colores oscuros */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.dato-partida {
  font-weight: 600;
  position: relative;
  color: #2a292e;
  text-decoration: none;
  background-color: white; /* De celeste claro a un azul más oscuro */
  display: flex;
  flex-direction: column; /* Cambia la dirección del flex a columna */
  align-items: center; /* Alinea verticalmente el contenido dentro del botón */
  justify-content: center; /* Centra el contenido horizontalmente dentro del botón */
  padding: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 6px 0px  #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0px 6px 0px #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  box-shadow: 0px 6px 0px #bcbcbe, 0px 9px 25px rgba(0, 0, 0, .3);
  margin: 20px auto;
  border: none;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  width: 250px;
  height: 150px;
}

.dato-partida span {
  font-weight: bold; /* Hace que el texto sea negrita */
}

.salir {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: transparent;
  border: none; /* Borde semitransparente para un estilo más sutíl */
  color: white; /* Texto blanco para mejor contraste */
  padding: 10px 20px; /* Espaciado interno para hacerlo más grande y fácil de clickear */
  cursor: pointer; /* Cambia el cursor a un puntero para indicar que es un botón */
  transition: all 0.3s ease; /* Suaviza la transición de los cambios de estilo */
}

.salir:hover {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño del botón */
}

.score-animation {
  position: absolute;
  font-size: 48px;
  color: #ffffff;  /* Color verde para la puntuación positiva */
  font-size: 64px; /* Tamaño del texto para que la sombra sea más notable */
  font-weight: bold; /* Hacer el texto más grueso para un mejor efecto de sombra */
  opacity: 0;
  animation: scorePopUp 1s ease-out forwards;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
}

@keyframes scorePopUp {
  0% {
      opacity: 0;
      transform: translate(-50%, -20px);
  }
  50% {
      opacity: 1;
      transform: translate(-50%, -10px);
  }
  100% {
      opacity: 0;
      transform: translate(-50%, -50px);
  }
}