<!-- ahorcado.component.html -->
<button class="salir" routerLink="/home">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
    </svg>
</button>
<div class="modal" *ngIf="gameWon || gameLost">
    <div class="modal-content">
        <h2>Fin del Juego</h2>
        <p>{{ gameWon ? '¡Felicidades! Has ganado.' : 'Lo siento, has perdido. La palabra era: ' + selectedWord }}</p>
        <div class="stats-container">
            <div class="stat-box">
                <h3>Tiempo de juego</h3>
                <p>{{ gameTimeInSeconds }} segundos</p>
            </div>
            <div class="stat-box">
                <h3>Puntuación</h3>
                <p>{{ score }}</p>
            </div>
        </div>
        <button routerLink="/home">Salir</button>
        <button (click)="startGame()">Jugar de nuevo</button>
    </div>
</div>
<div class="ahorcado-container" [style.background-image]="'url(' + currentImage + ')'">
    <div class="word-display">{{ maskedWord }}</div>
    <div class="attempts-display">
        {{ hint }}
    </div>
    <div class="letter-buttons">
        <button *ngFor="let letter of alphabet" 
                (click)="guess(letter)" 
                [disabled]="lettersGuessed.has(letter) || gameWon || gameLost">
            {{ letter }}
        </button>
    </div>
</div>
